<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Car Catalog</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="assets/img.png" type="image/png">
  <meta name="theme-color" content="#1976d2">
</head>
<body style="background-color : #dad2bc">
<div class="wrapper">

  <div class="content"> <app-root></app-root> </div>

  <div class="footer">
    <footer class="page-footer font-small blue bg-secondary">
      <div class="container-fluid">
        <div class="row">
          <div class="text-center text-light p-3" style="background-color: #70798c">
            © 2022 Implemica:
            <a class="text-white" href="https://implemica.com/">implemica.com</a>
          </div>
        </div>
      </div>
    </footer>

  </div>
</div>
<!-- Footer -->
  <noscript>Please enable JavaScript to continue using this application.</noscript>
</body>


</html>
<style>
  html,
  body {
    height: 100%;
  }
  .wrapper {
    position: relative;
    min-height: 100%;
  }
  .content {
    padding-bottom: 90px;
  }
  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
</style>
